 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I'm a technologist, by that I mean I enjoy applying technology to solving real world problems. I have been specialising in Business Intelligence or more generally Data, but that doesn't mean that is all that I do.</p>
                </div>
                <div class="col-lg-4">
                    <p>I have skills in Data Warehousing, Data Visualisation, Data Presentation and Machine Learning.

                        I've worked in both the public and private sectors in permanent roles and across a number of projects whilst consulting in the public and private sector. My public sector work ranges from health to local government, where the private sector ranges from online retail to financial services. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/mattharling/cv" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download My CV
                    </a>
                </div>
            </div>
        </div>
    </section>
