 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am an experienced technology strategist and change management expert with over 18 years of involvement in driving transformative projects across diverse sectors. Based in the U.K., I currently serve as the Head of Business Transformation at Artex Capital Solutions, where I am responsible for operational efficiencies and continuous improvement initiatives across multiple divisions. My role involves overseeing technology product development, operational improvement, and managing integration projects for acquisition partners, focusing on both technical and business process work streams.</p>
                </div>
                <div class="col-lg-4">
                    <p>My career to date is marked by my ability to modernize and automate workflows, enhance data capture and processing, and implement advanced reporting platforms. My leadership in change management is evident through my roles at KPMG where I supported operational process transformation and business intelligence enhancement, and at Nova, where I led greenfield business intelligence implementations and platform re‐architecture projects. My commitment to leveraging technology for business process evolution and competitive intelligence extraction underscores my professional journey.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/mattharling/cv" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download My CV
                    </a>
                </div>
            </div>
        </div>
    </section>
