<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Certifications</h2>
                <hr class="star-primary">
            </div>
        </div>
        
        <div class="certifications-grid">
            <div class="certification-card">
                <div class="certification-icon">
                    <i class="fa fa-certificate"></i>
                </div>
                <p class="certification-title">PRINCE2 Foundation</p>
            </div>
            
            <div class="certification-card">
                <div class="certification-icon">
                    <i class="fa fa-users"></i>
                </div>
                <p class="certification-title">Certified SCRUM Master</p>
            </div>
            
            <div class="certification-card">
                <div class="certification-icon">
                    <i class="fa fa-cogs"></i>
                </div>
                <p class="certification-title">ITIL V4 Foundation</p>
            </div>
            
            <div class="certification-card">
                <div class="certification-icon">
                    <i class="fa fa-bar-chart"></i>
                </div>
                <p class="certification-title">Microsoft Certified: Data Analyst Associate</p>
            </div>
            
            <div class="certification-card">
                <div class="certification-icon">
                    <i class="fa fa-cloud"></i>
                </div>
                <p class="certification-title">Microsoft Certified: Power Platform Functional Consultant Associate</p>
            </div>
            
            <div class="certification-card">
                <div class="certification-icon">
                    <i class="fa fa-trophy"></i>
                </div>
                <p class="certification-title">Microsoft Certified: Power Platform Solution Architect Expert</p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-12">
                <div class="membership-section">
                    <h3>Professional Membership</h3>
                    <img class="membership-logo" src="img/mbcs-logo-black.jpg" alt="BCS Member">
                </div>
            </div>
        </div>
    </div>
</section>