
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Certifications</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    PRINCE2 Foundation
                </div>
                <div class="col-sm-4 portfolio-item">
                    Certified SCRUM Master
                </div>
                <div class="col-sm-4 portfolio-item">
                    ITIL V4 Foundation
                </div>
                <!-- {% for post in site.posts %}
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                        </a>
                    </div>
                {% endfor %} -->
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <img class="img-responsive" src="img/mbcs-logo-black.jpg" alt="">
                </div>
            </div>
        </div>
    </section>